
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<h3>Just a test for this project</h3>
<p><strong>My email: </strong>@ViewData["Email"]</p>
<p><strong>More information: </strong><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> My youtube channel!</a></p>

